<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->
<!--<mapper namespace="com.homework.hansol.mapper.EmployeeMapper">-->


<!--	<insert id="insertEmployee" parameterType="com.homework.hansol.model.Employee">-->
<!--		INSERT INTO Employee (EMPLOYEE_ID, NAME , POSITION , COMPANY, TELEPHONE, TASK_NAME, SORT)-->
<!--		VALUES (#{id}, #{NAME}, #{position}, #{telephone}, #{task_name}, #{sort})-->
<!--	</insert>-->

<!--</mapper>-->

